<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>login</title>
<link rel="stylesheet" type="text/css" href="__STATIC__/login/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/login/css/demo.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/login/css/component.css" />

<script type="text/javascript" src=" __STATIC__/vue.js/vue.min.js"></script>
<script type="text/javascript" src=" __STATIC__/js/jquery.min.js"></script>
<!--[if IE]>
<script src="js/html5.js"></script>
<![endif]-->
<style>
    .tosignIn{
        font-size: 12px;
        margin: -20px 20px 0 0;
        display: flex;
        flex-direction: row-reverse;
    }
    .validation{
        width: 200px;
    }
    .toValidation{
        position: relative;
        left: 200px;
        top: -2px;
        height:46px;
        border: rgba(255,255,255,0.2) 2px solid !important;
        border-radius: 50px;
        width: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
</head>
<body>
		<div class="container demo-1" id="box">
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<div class="logo_box">
						<h3>欢迎你</h3>
						<form name="f">
							<div class="input_outer">
								<span class="u_user"></span>
								<input name="logname" class="text" v-model="phone" style="color: #FFFFFF !important" type="text" placeholder="请输入账户/手机号">
							</div>
							<div class="input_outer">
								<span class="us_uer"></span>
								<input name="logpass" class="text" v-model="password" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="password" placeholder="请输入密码">
                            </div>
                            <div class="input_outer validation" v-if="type=='register'">
								<span class="us_uer"></span>
                                <input name="logpass" class="text " v-model="code" style="color: #FFFFFF !important; position:absolute; z-index:100;width:140px"value="" type="password" placeholder="请输入6位数验证码"> 
                                <div class="toValidation" @click="send()">{{btnText}}</div> 
                            </div>
                            <div class="tosignIn" @click="cut()">{{type=='login' ? '没有账号？去注册' : '已有账号，去登陆'}}</div>
							<div class="mb2"><a class="act-but submit"  style="color: #FFFFFF;" @click="up()">{{type=='register' ? '注册并登录' : '登录' }}</a></div>
						</form>
					</div>
				</div>
			</div>
        </div>
        <script>
            var box = new Vue({
            el: "#box",
            data: {
                phone: '18617273784',
                password: '123456',
                type: 'register',
                code: '',
                vercode: '',
                btnText: '获取验证码',
                btnDisabled: false,

            },
            methods: {
                cut: function(){
                    this.type =  this.type == 'register' ? 'login' : 'register';
                },
                up: function () {
                    var data = {
                        'phone': this.phone,
                        'password': this.password
                    };
                    if(this.type =='register') {
                        if (!(parseInt(this.code) == this.vercode && this.vercode != '')) {
                            alert('请输入正确的验证码');
                            return;
                        }
                    }
                    $.ajax({
                        type: "post"
                        , url: '__URL__/login'
                        , dataType: "json"
                        , data: {
                            'data': data,
                            'type': this.type
                        }
                        , success: function (msg) {
                            alert(msg.msg);
                            msg.code == 200 && (location.href='/index.php/index');
                        }
                        , error: function (e) {
                            alert('服务器繁忙请稍后重试')
                        }
                    })
                },
                send: function () {
                    var that = this;
                    (this.phone != '' && !this.btnDisabled) && $.ajax({
                        type: "post"
                        , url: '__URL__/send'
                        , dataType: "json"
                        , data: {
                            'phone': this.phone
                        }
                        , success: function (msg) {
                            alert(msg.msg);
                            msg.code == 200 && (that.vercode = msg.data,that.getSecond());
                        }
                        , error: function (e) {
                            alert('服务器繁忙请稍后重试')
                        }
                    })
                },
                getSecond(wait = 60) {
                    let _this = this;
                    let _wait = wait;
                    if (wait == 0) {
                        this.btnDisabled = false;
                        this.vercode = '';
                        this.btnText = "获取验证码";
                        wait = _wait;
                    } else {
                        this.btnDisabled = true;
                        this.btnText = "验证码(" + wait + "s)"
                        wait--;
                        setTimeout(function () {
                            _this.getSecond(wait);
                        },
                            1000);
                    }
                }

            }
        })
        </script>

		<script src="__STATIC__/login/js/TweenLite.min.js"></script>
		<script src="__STATIC__/login/js/EasePack.min.js"></script>
		<script src="__STATIC__/login/js/rAF.js"></script>
		<script src="__STATIC__/login/js/demo-1.js"></script>
	</body>
</html>